<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
 <%=image_tag "login.png", id: "login"%><%= link_to(' LOGIN / REGISTER', new_user_session_path)  %>  
  </li>
<% end %>