/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.createp {
	font-family: Helvetica;
	font-size: 15px;
	text-align: center;
	padding-top: 1%;
	text-decoration: none;
}

.createp h1 a{
	color: #034624;
	font-weight: bold;
	text-decoration: none;
}

.createp h1 a:hover{
	color: #02b058;
	font-weight: bold;
	text-decoration: none;
}


.createp, .show_product h4, h5 {
	font-weight: bold;
	color: black;
}

.logo_header {
	font-family: Helvetica,sans-serif;
	font-size: 13px;
	background-color: #E6FAEF;
	padding-bottom: 85px;
	box-shadow: 0px 0px 8px 0px #010101;
	width: 100%;
	height: 90px;
	padding-left: 20px;
	padding-right: 20px;

}

body {
	background-image: url("jungle_copy.jpg");
	height: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

table.table-head {
	margin: 0 43%;
	padding-top: 5%;
}

div.products {
	
	margin: 20px;
	width: 100%;
	
}

div.productdescrip {
	font-family: Helvetica, sans-serif;
	margin: 20px 20px ;
	text-align: center;
	border-radius: 5px;
	background-color: #E6FAEF;
	box-shadow: 0px 0px 8px 0px grey;
	width: 280px;
    padding: 25px;
    margin-bottom:80px;
    float: left;
}

.productdescrip h4 {
	font-weight: bold;
}

.productdescrip img{
	width: 100%;
}

.productdescrip h6 a{
	color: black;
	font-weight: bold;
}

.productdescrip h6 a:hover{
color: #034624;
text-decoration: none
}


.new_product_page, .signup, .logout, .log_in, .edit_signup {
	font-family: Helvetica, sans-serif;
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border-radius: 5px;
	background-color: #E6FAEF;
	box-shadow: 0px 0px 8px 0px grey;
	width: 400px;
    padding: 25px; 
    margin-bottom: 10%;
}

.edit_product {
	text-align: center;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	background-color: #E6FAEF;
	padding-top: 25px; 
	padding-bottom: 25px;
	border-radius: 5px;
	margin-bottom: 10%;
	margin-top: 5%;
	}

.show_product img{
	width: 100%;
}

.show_product {
	
	text-align: center;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	background-color: #E6FAEF;
	padding-top: 25px; 
	padding-bottom: 25px;
	border-radius: 5px;
	margin-bottom: 10%;
	margin-top: 5%;
}

.new_product_page h1 {
	font-weight: bold;
	color: #034624;
}

div.new_product_page {
    -webkit-animation: myfirst 4s; 
    animation: myfirst 4s;
}


 @-webkit-keyframes myfirst {
    from {background: white;}
    to {background: #E6FAEF;}
}


div.actions{
	padding-top: 5px;
}

#Image_tag_logo {
padding-top: 15px;
padding-left: 15px;
float: left;

}

ul.menubar { 
	padding-top: 10px;
	margin-right: 15px;
}

.menubar li {
	display: inline;
	font-weight: bold;
	color: black;
	margin-top: 25px;
	float: right;
	text-decoration: none;
	padding-right: 10px;

}

.menubar li:nth-child(2) {
	padding-right: 30px;
}

.menubar li:last-child {
	margin-right: 20px;
}

.menubar li a {
	color: #034624;
	text-decoration: none;
}
.menubar li a:hover {
	color: #02b058;
	text-decoration: none;
}

#cart_icon {
	width: 20px;
	height: 20px; 
}

div.field {
	margin: 10px;
}

ul.footerbar li {
	display: inline;
	font-weight: bold;
	color: black;
	padding-right: 20px;
	text-decoration: none;
	padding-top: 20px;
}

ul.footerbar {
	padding-top: 10px;
	}

.footerbar li a:hover{
	color: #02b058;
	text-decoration: none;
}

.footerbar li a {
	color: #034624;
	text-decoration: none;

}

footer {
   text-align: center;
   font-size: 12px;
   bottom:0;
   height:7%;
   width:100%;
   background-color: #E6FAEF;
   box-shadow: 0px 0px 8px 0px grey;
   position: fixed;
}


#newstuff {
	margin: 10px;
}

div.log_in {
    -webkit-animation: myfirst 4s; 
    animation: myfirst 4s;
}


 @-webkit-keyframes myfirst {
    from {background: white;}
    to {background: #E6FAEF;}
}

.clear-me{
	clear: both;
}