
<div class="new_product_page">
<h1>New Product</h1>

<%= render 'form' %>

<%= link_to 'Back', products_path %>
</div>
<script>
$(document).ready(function(){
	$("div.new_product_page").hide()
	$("div.new_product_page").fadeIn("slow")
});
</script>